.project-financial-info {
  width: 100%;
  background-color: #ddd;
  color: #333;
  font-size: .8rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  border-radius: 5px;
  padding: 1em;
}

.financialData{
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.financialData-value{
  font-weight: 300;
  width: 5em;
  text-align: right;
}


@media screen and (max-width: 700px) {
  .project-financial-info {
    flex-direction: column;
  }
  .financialData{
    width: 100%;
  }
}

