.project-detail .team-table {
  border: 1px solid #bbb;
  border-spacing: 0;
}

.project-detail .team-table th {
  background-color: #c2cf76;
  color: #555;
  text-align: left;
}

.project-detail .team-table td {
  padding:.5rem .3rem;
  color: #555;
}

