.project-detail .team-table {
  border: 1px solid #bbb;
  border-spacing: 0;
}

.project-detail .team-table th {
  background-color: #c2cf76;
  color: #333;
}

.project-detail .team-table td {
  padding:.5rem 0 .3rem 1rem
}

