.project-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectListCard{
  background-color: var(--bg-color);
  display: flex;
  padding: .5em;
  margin-top: .5em;
  border-radius: 5px;
  justify-content: space-between;
}

.cardStages{
  background-color: var(--bg-color);
  border-radius: 8px;
}

.project-summary a {
  text-decoration: none;
  flex-grow: 2;
}
.project-summary h4 {
  font-size: 0.9em;
  color: var(--heading-color);
}
.project-summary p {
  color: var(--text-color);
  font-size: 0.9em;
}
.project-summary .assigned-to {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.project-summary ul {
  margin: 10px 0;
  display: flex;
}
.project-summary li {
  margin-right: 10px;
}
.projectListCard > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 40%;
}

.projectListCard > .progressbar {
  background-color: rgb(196, 196, 196);
  border-radius: 8px;
  width: 50%;
  height: 15px;
  margin: auto 1em;
  position: relative;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 15px solid rgb(190, 216, 190);
}

.arrow-right {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 15px solid green;
}

.cardStageTasks{
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 700px) {
  .projectListCard > .progressbar {
    width: 40%;
    height: 15px;
    margin: auto .5em;
    position: relative;
  }
}
