.labourList-StageHeader {
    background-color: var(--primary-color);
    color:aliceblue;
    padding: .6rem 1.1rem;

}


.labourList-StageTask{
    font-size: .8em;
    padding: .3rem 0;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.labourList-StageTask .task-container{
    width: 60%;
}

.labourList-StageTask .hours-container{
    width: 35%;
    justify-content: end;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.labour-list-roll{
    text-align: right;
    font-size: .8rem;
}