.mainlist-stageCard{ 
    margin: 1em 0;
    background-color: aliceblue;
}

.mainlist-stageCard h3{
    margin-left: 20px;
}

.mainlist-stageCard-header{
    padding: 1em;
    display: flex;
    align-items: center;
}

.mainList-stageTasksTable{
    border-collapse: collapse;
    border-color: var(--bg-color);
    border-radius: 0 0 3px 3px;
    width: 100%;
}

.mainlist-taskHeader > th {
    background-color: var(--lightgreen);
    color: var(--bg-color);
    font-weight: 400;
}

.mainlist-task {
    background-color: var(--palegreen);
    border-top: 2px solid white;
}

.mainlist-task > td{
    padding: .3em 1em;
}
.mainlist-task > td > .progressbar{
    width: 100%;
    height: .5em;
    margin: 0;
}


.TaskSection{
    padding: 1.5em;
}

.TaskSectionData{
    margin: .5em;
}

.TaskSectionData-label{
    color: var(--lightgreen);
    font-weight: 500;
}
.TaskSectionData-value{
    color: grey;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    .mainList-stageTasksTable{
        font-size: .8em;
    }
}