.navbar {
  width: 100%;
  padding: 1rem 2rem .8rem 1rem;
  background-color: var(--bg-color);
}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo img {
  margin-right: 10px;
  width: 150px;
  margin-top: -10px;
  margin-left: 1rem;
}
.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}