.App{
  font-size: 16;
}

.App > .container{
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #eee;
}

.content-container {
  display: block;
  background-color: var(--bg-color);
  padding: 2em;
  margin: 0 1em 1em 1em;
  border-radius: 5px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .App{
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .App{
    font-size: 12px;
  }
}

