.App {
  display: flex;
}
.App .container{
  flex-grow: 1;
  padding: 0;
}
.App .sub-container{
  display: flex;
  flex-direction: row;
  background-color: #eee;
}
.App .content-container {
  flex-grow: 1;
  padding: 4rem;
  margin: 3rem;
  max-width: 50rem;
  background-color: #fff;
  border-radius: 5px;
}